<!DOCTYPE html>
<html lang="en">

<head>
    <title>Task Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
</head>
<style>
    #grad1 {
        height: 1000px;
        background-color: rgb(21, 255, 0);
        /* For browsers that do not support gradients */
        background-image: linear-gradient(rgb(20, 187, 199), rgb(235, 213, 143));
        /* Standard syntax (must be last) */
    }

    .fa-file {
        color: rgb(0, 234, 255);
        font-size: 7em;
        margin: 1rem;
    }
</style>

<body id="grad1">
    <div class="jumbotron text-center">
        <h1>
            Task Manager
        </h1>
    </div>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="nav-link" href="/new_task">
                    <img src="https://static.thenounproject.com/png/534029-200.png" alt="new_task" width="150"
                        height="150">
                </a>
            </div>
            <div class="col-sm-4">
                <a class="nav-link" href="/task_list">
                    <img src="https://st3.depositphotos.com/1548395/13487/i/1600/depositphotos_134873410-stock-photo-3d-render-of-to-do.jpg"
                        alt="todo" width="150" height="150">
                </a>
            </div>
            <div class="col-sm-4">
                <a class="nav-link" href="/task_completed">
                    <img src="https://www.iconshock.com/image/Sigma/Project_management/task_completed/" alt="Completed"
                        width="150" height="150">
                </a>
            </div>
            <div class="col-sm-5">
                <a class="nav-link" href="/upload_file">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Cloud_upload_font_awesome.svg/512px-Cloud_upload_font_awesome.svg.png"
                        alt="upload_file" width="150" height="150">
                </a>
            </div>
            <div class="col-sm-5">
                <a class="nav-link" href="/uploaded_file">
                    <i class="fas fa-file"></i>
                </a>
            </div>
        </div>
    </div>
    </div>

    <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
    <!-- Brand/logo -->
    <!-- <a class="navbar-brand" href="#"><img src="taskassingment/img/logosam.jpeg" height="30" width="156"></a> -->

    <!-- Links -->
    <!-- <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/task_list">Task List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new_task">New Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/task_completed">Task Completed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload_file">Upload ppt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/uploaded_file">Document List </a>
            </li>
        </ul>
    </nav> -->



    <div class="container-fluid">
    </div>

</body>

</html>